<section class="index-page">
  <img class='avatar ' src="{{{imgSrc}}}">
  <h2>Hello {{{userName}}} !</h2>
  <form action="/auth/logout" method="post">
    <button type="submit">Logout</button>
  </form>

  </p>
</section>